:root {
    --warna-orange: #ff5704;
    --warna-kuning: #ffca0c;
    --warna-text-primary: #166C0D;
    --warna-text-secondary: #0fb515;
    --background-bar: #e9e6e3;
    --background-main-content: #dcd9d7;
}

.text-warna-primary {
    color: var(--warna-text-primary);
}

.text-warna-secondary {
    color: var(--warna-text-secondary);
}

.bg-kuning {
    background-color: var(--warna-kuning);
}

.bg-orange {
    background-color: var(--warna-orange);
}

.text-orange {
    color: var(--warna-orange);
}

.text-kuning {
    color: var(--warna-kuning);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
}

.font-20 {
    font-size: 20px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-15 {
    font-size: 15px !important;
}

.bg-content-c {
    background-color: var(--background-main-content);
}

.mr-2-c {
    margin-right: 4px !important;
}

.bg-bar-c {
    background-color: var(--background-bar);
}


/* Panah kebawah */

.arrow-bot {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--warna-text-primary);
}

.arrow-top {
    width: 0px;
    margin-left: 40px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--warna-kuning);
}


/* Ketika pilihan sub menu pertama di hover */

.arrow-top-hover {
    width: 0px;
    margin-left: 40px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--warna-orange);
    transition-duration: 0.2s;
}

.arrow-nav:hover {
    cursor: pointer;
}


/* Ketika select menu utama blom di hover*/

ul li a.text-uppercase {
    color: var(--warna-text-primary);
}

ul li:hover a.text-uppercase {
    color: var(--warna-text-secondary);
}


/* Ketika select menu utama di hover*/

ul li:hover a.text-uppercase::before {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--warna-orange);
}

ul li:hover a.text-uppercase::after {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--background-bar);
}


/* Ketika select menu utama di buka*/

ul li.open a.text-uppercase::before {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--warna-kuning);
}

ul li.open a.text-uppercase::after {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--background-bar);
}


/* Ketika select sub menu blom di hover*/

ul ul li {
    background-color: var(--warna-kuning);
}

ul ul li a {
    color: var(--warna-orange);
}


/* Ketika select sub menu di hover*/

ul ul li:hover {
    background-color: var(--warna-orange);
    cursor: pointer;
    transition-duration: 0.2s;
}

ul ul li:hover a {
    color: var(--warna-kuning);
    transition-duration: 0.2s;
}

header {
    z-index: 1000 !important;
}

header img {
    width: 80px;
}

header ul:first-child {
    font-weight: 700;
    font-size: 0.95em;
    visibility: visible !important;
}

body {
    font-family: "Rubik", sans-serif;
    overflow: scroll;
}

@media (max-width: 425px) {
    header ul:first-child {
        font-size: 0.2em;
        visibility: hidden !important;
    }
    header img {
        width: 50px;
    }
    footer {
        font-size: 0.8em;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    iframe {
        width: 100%;
        height: 200px;
    }
}

@media (min-width:425px) and (max-width:768px) {
    iframe {
        width: 390px;
        height: 200px;
    }
}

#button-login {
    background-color: #067f13;
}

#button-login:hover {
    background-color: #01620b;
}