:root {
    --warna-orange: #ff5704;
    --warna-kuning: #ffca0c;
    --warna-text-primary: #166C0D;
    --warna-text-secondary: #0fb515;
    --background-bar: #e9e6e3;
    --background-main-content: #dcd9d7;
}

.text-warna-primary {
    color: var(--warna-text-primary) !important;
}

.text-warna-secondary {
    color: var(--warna-text-secondary) !important;
}

.bg-kuning {
    background-color: var(--warna-kuning);
}

.bg-orange {
    background-color: var(--warna-orange);
}

.text-orange {
    color: var(--warna-orange);
}

.text-kuning {
    color: var(--warna-kuning);
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.rubik-font {
    font-family: "Rubik", sans-serif !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-15 {
    font-size: 15px !important;
}

.bg-content-c {
    background-color: var(--background-main-content);
}

.mr-2-c {
    margin-right: 4px !important;
}

.bg-bar-c {
    background-color: var(--background-bar);
}

.text-justify {
    text-align: justify !important;
}

.object-cover {
    object-fit: cover;
}


/* Panah kebawah */

.arrow-bot {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--warna-text-primary);
}

.arrow-top {
    width: 0px;
    margin-left: 30px !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--warna-kuning);
}

.z-index-99 {
    z-index: 999999 !important;
}


/* Ketika pilihan sub menu pertama di hover */

.arrow-top-hover {
    width: 0px;
    margin-left: 30px !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--warna-orange);
    transition-duration: 0.2s;
}

.arrow-nav:hover {
    cursor: pointer;
}

div.about a img {
    opacity: 1;
}

div.about a:hover img {
    opacity: .5;
}

div.about a h3 {
    width: 0px;
    height: 0px;
    top: 50px;
}

div.about a:hover h3 {
    width: 280px;
    height: 560px;
    top: 0;
    z-index: 1000;
}

video {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

div>a>video {
    object-fit: cover;
}

a img {
    opacity: 1 !important;
    transition: all 0.2s ease !important;
}

a:hover img {
    opacity: 0.3 !important;
    transition: all 0.2s ease !important;
}

a.about:hover>h3:nth-child(2) {
    opacity: 1 !important;
    transition: all 0.2s ease !important;
    z-index: 1 !important;
}

a.about>h3:nth-child(2) {
    opacity: 0 !important;
    transition: all 0.2s ease !important;
    z-index: 1 !important;
}

a.about:hover>p:nth-child(3) {
    opacity: 1 !important;
    transition: all 0.8s ease !important;
    z-index: 1 !important;
}

a.about>p:nth-child(3) {
    opacity: 0 !important;
    transition: all 0.2s ease !important;
    z-index: 1 !important;
}


/* Ketika select menu utama blom di hover*/

ul li a.text-uppercase {
    color: var(--warna-text-primary);
}

ul li:hover a.text-uppercase {
    color: var(--warna-text-secondary);
}


/* Ketika select menu utama di hover*/

ul li:hover a.text-uppercase::before {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--warna-orange);
}

ul li:hover a.text-uppercase::after {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--background-bar);
}

div.footer a span {
    color: black;
}

div.footer a:hover span {
    color: var(--warna-text-secondary);
}


/* Ketika select menu utama di buka*/

ul li.open a.text-uppercase::before {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--warna-kuning);
}

ul li.open a.text-uppercase::after {
    width: 100;
    content: "";
    display: block;
    height: 3px;
    background-color: var(--background-bar);
}


/* Ketika select sub menu blom di hover*/

ul ul li {
    background-color: var(--warna-kuning);
}

ul ul li a {
    color: var(--warna-orange);
}


/* Ketika select sub menu di hover*/

ul ul li:hover {
    background-color: var(--warna-orange);
    cursor: pointer;
    transition-duration: 0.2s;
}

ul ul li:hover a {
    color: var(--warna-kuning);
    transition-duration: 0.2s;
}

div.header {
    z-index: 1000 !important;
}

div.header img {
    width: 80px;
}

div.header ul:first-child {
    font-weight: 700;
    font-size: 0.95em;
    visibility: visible !important;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 425px) {
    header ul:first-child {
        font-size: 0.2em;
        visibility: hidden !important;
    }
    div.header img {
        width: 50px;
    }
    div.footer div div div {
        text-align: center;
        justify-content: center;
    }
    div.footer h5 {
        text-align: center;
    }
    #info {
        position: relative;
    }
    iframe {
        width: 270px !important;
        height: 150px !important;
        border: 0;
    }
    video {
        width: 240px !important;
        border: 0;
    }
    img.shadow-lg {
        width: 240px !important;
        border: 0;
    }
}

@media (min-width:425px) and (max-width:768px) {
    iframe {
        width: 380px !important;
        height: 100% !important;
        border: 0;
        box-sizing: border-box;
    }
}

@media (min-width:768px) {
    iframe {
        width: 380px !important;
        height: 300px !important;
        border: 0;
        box-sizing: border-box;
    }
}